<div class="row">


    <div class="left-heading">
    
    <p class="usual-heading">To</p>
    
    </div>
    
    <div class="date-field">
    
     <input class="default-inputs" [(ngModel)]="dtooDate" (focus)="dtoDate()" id="dpd1" type="text"/>
        
    </div>
   
<div class="dash">-</div>
    
     <div class="hour-field">
         
     
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" (focus)="dtoTime()" [(ngModel)]="dtooTime"  type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
         
    </div>
    
   <div class="left-heading">
    
    <p class="usual-heading">From</p>
    
    </div>
    
    <div class="date-field">
    
     <input class="default-inputs" (select)="dfromDate()" [(ngModel)]="dfrommDate" value="" id="dpd2" type="text">
        
    </div>
    
<div class="dash">-</div>
    
     <div class="hour-field">
         
           
         
        <div class="form-group">
        
<div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker2" (focus)="dfromTime()" [(ngModel)]="dfrommTime" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        
        
        
        </div>
        
    </div>
    
     <div class="button-overall">
    
    <button class="btn bt-default">Overall</button>
    
    </div>

    
    
    
    
    
    

</div>







<div class="row">


    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-6" id="First-row">
    
         <div class="dropdown">
          <button class="dropdown-toggle Question-drop" type="button" id="mainQuesBtn" data-toggle="dropdown">
          <i class="fa fa-chevron-down"></i></button>
          <ul class="dropdown-menu ful-width" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
            <li><a *ngFor="let question of questions" (click)="changeMainQues(question._id)">{{question.questionText}}</a></li>
          </ul>
        </div>
    
    </div>
    
    
    
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2 checkbox-holders">
    
     <input type="checkbox" class="css-checkbox" id="checkbox4" />
        
    <label for="checkbox4" name="checkbox1_lbl" (click)="dmale()" class="css-label lite-gray-check">Male</label>
    
    </div>
    
    
    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2 checkbox-holders">
        
    <input type="checkbox" class="css-checkbox" id="checkbox5"/>
        
    <label for="checkbox5" name="checkbox1_lbl" (click)="dfemale()" class="css-label lite-gray-check">Female</label>
     
    
    </div>



</div>


<div class="row" id='line-graph-row'>


    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

    <div style="width:100%" id="container"></div>
    
</div>


</div>


<div class="row">

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
    
    <div class="pie-chart-column">
    
        
        <div class="row left-column-row" >
        
            
       <div class="dropdowns">
        
        <div class="dropdown-left-column">
                
              <div class="dropdown">
          <button class="dropdown-toggle Question" type="button" id="mainQuestionBtn" data-toggle="dropdown">
          <i class="fa fa-chevron-down"></i></button>
          <ul class="dropdown-menu ful-width">
            <li><a id="{{question._id}}" *ngFor="let question of questions" (click)="changeMainQuestion(question._id)">{{question.questionText}}</a></li>
          </ul>
        </div>    
            
        </div>
           
           
        <div class="dropdown-right-left-column">
            
            <div class="button-overall-2">
            
                <button class="btn btn-default ">Overall</button>
            
            </div>
                
        </div>
           
     
        
        </div>
            
        
        </div>
        
        
        <div class="row">
        
        
        <div class="col-md-12">
            
            <div style="width:100%" id="container2"></div>
            
        </div>
        
        
        
        
        </div>
        
        
        <div class="row">
        
        
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            
            <div class="pie-standard">
            
                <div class="color-box"></div>
                <div class="standard-value"><p>Excellent</p></div>
            
            </div>
        
            
        </div>
            
            
            
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            
            <div class="pie-standard">
            
                <div class="color-box-2"></div>
                <div class="standard-value"><p>Good</p></div>
            
            </div>
        
            
        </div>
            
            
            
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            
            <div class="pie-standard">
                
                <div class="color-box-3"></div>
                <div class="standard-value"><p>Average</p></div>
            
            </div>
            
        </div>
            
            
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
            
            <div class="pie-standard">
                
                <div class="color-box-4"></div>
                <div class="standard-value"><p>Dissatisfied</p></div>
            
            </div>
            
        </div>
        
        
        
        
        </div>
    
    
    </div>
    
    </div>
    
    
    
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        
        
    <div class="list-of-users">
    
        <p>List of Users</p>
        
        
        <div class="row nopadding">
        
       <div class="dropdowns">
        
        <div class="dropdown-left">
                
              <div class="dropdown">
          <button class="dropdown-toggle Question" type="button" id="userQuesBtn" data-toggle="dropdown">
          <i class="fa fa-chevron-down"></i></button>
          <ul class="dropdown-menu ful-width">
            <li><a *ngFor="let question of questions" (click)="changeUserQues(question._id)">{{question.questionText}}</a></li>
          </ul>
        </div>    
            
        </div>
           
           
        <div class="dropdown-right">
            
            <div class="dropdown">
          <button class="dropdown-toggle Rating" type="button" id="ratingBtn" data-toggle="dropdown">By Rating
          <i class="fa fa-chevron-down"></i></button>
          <ul class="dropdown-menu">
            <li><a href="#" (click)="changeRatingBtn(1)">A</a></li>
            <li><a href="#" (click)="changeRatingBtn(2)">B</a></li>
            <li><a href="#" (click)="changeRatingBtn(3)">C</a></li>
            <li><a href="#" (click)="changeRatingBtn(4)">D</a></li>
          </ul>
        </div>   
                
        </div>
           
        
        
        
        </div>
        
        </div>
        
        
    <div class="row">
        
        
        <div class="col-md-12">
        
       <div class="panel-group" id="accordion">
  
            <div class="panel panel-default" *ngFor="let customerVisitsToBranch of customerVisitsToBranches">
   <div class="panel-heading">
      <h4 class="panel-title" onclick="changeIconWithButton(this);">
          
        <div class="name-rating">
            
            <div class="name-user">
                
        <a data-toggle="collapse" data-parent="#accordion" href="#{{customerVisitsToBranch._id}}" onclick="changeIconWithButton(this);">
        - {{customerVisitsToBranch._customer[0].name}}</a>
            </div>
            
        <div class="rating-stars">
            
            <div class="stardiv star-rating star-{{customerVisitsToBranch.rating}}">

            </div>

            
            
            </div>
            
         <a data-toggle="collapse" data-parent="#accordion" href="#{{customerVisitsToBranch._id}}" onclick="changeIcon(this);"><div class="open-icon">
        
            <i class="fa fa-chevron-down"></i>
            
        </div></a>
            
            
            
        </div>
      </h4>
    </div>
    <div id="{{customerVisitsToBranch._id}}" class="panel-collapse collapse">
        
      <div class="panel-body">
          
       
          <div class="row calender-checkout-row">
          
              <div class="col-md-6">
                    
                  <div class="calendar-checkout">
                  
                      <div class="icon-left"><i class="fa fa-calendar"></i></div>
                      
                      <div class="text-right"><p>Visited Date: {{customerVisitsToBranch.vistedDateString}}</p></div>
                  
                  </div>
                  
              </div>
              
              
               <div class="col-md-6">
                   
                   <div class="calendar-checkout">
                  
                      <div class="icon-left"><i class="fa fa-clock-o"></i></div>
                      
                      <div class="text-right"><p>Checkout Time: {{customerVisitsToBranch.vistedTimeString}}</p></div>
                  
                  </div>
                   
              
              </div>
              
          </div>
        
        
          <div class="row phone-email">
              
              
               <div class="col-md-6">
                    
                  <div class="calendar-checkout">
                  
                      <div class="icon-left"><i class="fa fa-phone"></i></div>
                      
                      <div class="text-right"><p>{{customerVisitsToBranch._customer[0].contactNumber}}</p></div>
                  
                  </div>
                  
              </div>
              
              
               <div class="col-md-6">
                   
                   <div class="calendar-checkout">
                  
                      <div class="icon-left"><i class="fa fa-envelope"></i></div>
                      
                      <div class="text-right"><p>{{customerVisitsToBranch._customer[0].email}}</p></div>
                  
                  </div>
                   
              
              </div>
          
          </div>
            
         <div class="row" id="view-report-row">
            
             <div class="col-md-12">
             <button class="view-report" onclick="openModal(this);">View Full Report</button>
            </div>
          
          </div>
          
          
        </div>
        
    </div>
  </div>
  
</div> 
        
        
        </div>
    
        
    </div>
    
    
    </div>

        
       
    
    
    
    </div>



</div>





<!---- Modal  starts   --->

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="modal-btn">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">
       
          <div class="row">
          
          <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6">
              
              <p class="modal-heading">- John Snow</p>
          </div>
              
              
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6">
        
        <div class="modal-rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </div> 
            
        </div>
          
          
          </div>
          
          
          
          <div class="row calender-check">
          
            
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              
             <div class="modal-calendar-checkout">
       
            <div class="calender-icon"><i class="fa fa-calendar"></i></div>
                 
            <div class="calender-text"><p>Visited date: 12-06-16</p></div>
       
       
            </div> 
              
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              
              <div class="modal-clock-checkout">
        
                <div class="clock-icon"><i class="fa fa-clock-o"></i></div>
                 
                <div class="checkout-text"><p>Checkout Time: 4:35pm</p></div>
        
        
              </div> 
              
    </div>
              
          
    </div>
          
          
          
          
          <div class="row phone-mail">
          
            
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              
             <div class="modal-phone-mail">
       
            <div class="phone-icon"><i class="fa fa-phone"></i></div>
                 
            <div class="calender-text"><p>+92 000 123 45678</p></div>
       
       
            </div> 
              
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              
              <div class="modal-mail-checkout">
        
                <div class="envelope-icon"><i class="fa fa-envelope"></i></div>
                 
                <div class="mail-text"><p>Example@example.com</p></div>
        
        
              </div> 
              
    </div>
              
          
          </div>
          
    
          
    <div class="row service-rating beginning-row">
          
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <p class="rating-for">Food Quality</p>
        
        </div>
          
        <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        
            <hr class="hr">
        
        </div>
        
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <div class="service-rating">
            
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
           
            
            </div>
            
            <div class='quality'><p>Excellent</p></div>
        
        </div>
          
          
    </div>
    
    
          
          
    <div class="row service-rating">
          
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <p class="rating-for">Environment</p>
        
        </div>
          
        <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        
            <hr class="hr">
        
        </div>
        
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <div class="service-rating">
            
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
           
            
            </div>
            
            <div class='quality'><p>Good</p></div>
        
        </div>
          
          
    </div>
    
    
          
          
          
    <div class="row service-rating">
          
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <p class="rating-for">Service</p>
        
        </div>
          
        <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        
            <hr class="hr">
        
        </div>
        
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <div class="service-rating">
            
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
           
            
            </div>
            
            <div class='quality'><p>Average</p></div>
        
        </div>
          
          
    </div>
    
    
          
                
          
    <div class="row service-rating">
          
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <p class="rating-for">Order</p>
        
        </div>
          
        <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        
            <hr class="hr">
        
        </div>
        
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <div class="service-rating">
            
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
           
            
            </div>
            
            <div class='quality'><p>Excellent</p></div>
        
        </div>
          
          
    </div>
    
    
          
           
          
    <div class="row service-rating">
          
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <p class="rating-for">Speed</p>
        
        </div>
          
        <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
        
            <hr class="hr">
        
        </div>
        
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        
            <div class="service-rating">
            
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
           
            
            </div>
            
            <div class='quality'><p>Dissatisfied</p></div>
        
        </div>
          
          
    </div>
    
         
      </div>
  
        
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal">&times;</button>

    </div>

  </div>
</div>

<!----- Modal Ends   ----->
<style>
    .starseconddiv{
        float: left;
  }
  .stardiv{
    float: left;
    position: relative;
  }
  .star-rating.star-1:before {
    content: '\f005';
}
  .star-rating.star-2:before {
    content: '\f005' ' ' '\f005';
}
  .star-rating.star-3:before {
    content: '\f005' ' ' '\f005' ' ' '\f005';
}
.star-rating.star-4:before {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
}
.star-rating:before {
    font-family: 'FontAwesome';
    color: #00a651;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
.star-rating:after {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005' ;
    font-family: 'FontAwesome';
    position: relative;
    color: #c5d1da;
}
    </style>
          <script>
              
  $(function () {
      
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
    // This will get the first returned node in the jQuery collection.
    var areaChart = new Chart(areaChartCanvas);

    var areaChartData = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "Electronics",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
          label: "Digital Goods",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(60,141,188,0.8)",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: [28, 48, 40, 19, 86, 27, 90]
        }
      ]
    };

    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: false,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - Whether the line is curved between points
      bezierCurve: true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension: 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot: false,
      //Number - Radius of each point dot in pixels
      pointDotRadius: 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth: 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius: 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke: true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth: 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill: true,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true
    };

    //Create the line chart
    areaChart.Line(areaChartData, areaChartOptions);

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas);
    var lineChartOptions = areaChartOptions;
    lineChartOptions.datasetFill = false;
    lineChart.Line(areaChartData, lineChartOptions);

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas);
    var PieData = [
      {
        value: 700,
        color: "#f56954",
        highlight: "#f56954",
        label: "Chrome"
      },
      {
        value: 500,
        color: "#00a65a",
        highlight: "#00a65a",
        label: "IE"
      },
      {
        value: 400,
        color: "#f39c12",
        highlight: "#f39c12",
        label: "FireFox"
      },
      {
        value: 600,
        color: "#00c0ef",
        highlight: "#00c0ef",
        label: "Safari"
      },
      {
        value: 300,
        color: "#3c8dbc",
        highlight: "#3c8dbc",
        label: "Opera"
      },
      {
        value: 100,
        color: "#d2d6de",
        highlight: "#d2d6de",
        label: "Navigator"
      }
    ];
    var pieOptions = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke: true,
      //String - The colour of each segment stroke
      segmentStrokeColor: "#fff",
      //Number - The width of each segment stroke
      segmentStrokeWidth: 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps: 100,
      //String - Animation easing effect
      animationEasing: "easeOutBounce",
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate: true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale: false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    pieChart.Doughnut(PieData, pieOptions);

    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    var barChart = new Chart(barChartCanvas);
    var barChartData = areaChartData;
    barChartData.datasets[1].fillColor = "#00a65a";
    barChartData.datasets[1].strokeColor = "#00a65a";
    barChartData.datasets[1].pointColor = "#00a65a";
    var barChartOptions = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: true,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - If there is a stroke on each bar
      barShowStroke: true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth: 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing: 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing: 1,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
      //Boolean - whether to make the chart responsive
      responsive: true,
      maintainAspectRatio: true
    };

    barChartOptions.datasetFill = false;
    barChart.Bar(barChartData, barChartOptions);
  });
</script>

   

