<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="active"><a ><span>Dashboard</span></a></li>
        <li><a ><span>Users</span></a></li>
        <li><a [RouterLink]="['/questions']"><span>Questions</span></a></li>
        <li><a ><span>Account</span></a></li>
        <li><a ><span>Payment</span></a></li>
        <li><a ><span>Logout</span></a></li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>